scikit-learn==1.6.1
cloudpickle==3.0.0
ipywidgets==8.1.2
matplotlib==3.8.4
pandas==2.2.2
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
numpy==2.2.0
Flask==3.1.0
groq==0.23.1
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
gunicorn==21.2.0
